<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8"/>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />
    <!--<script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"-->
            <!--th:href="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>-->
    <title>Customers</title>


</head>
<body>
<h2>Customers</h2>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
        </tr>
    </thead>
    <tbody th:remove="all-but-first">
        <tr th:each="customer : ${customers}">
            <td th:text="${customerStat.count}">1</td>
            <td><a th:href="@{/customers/show(id=${customer.id})}"
                th:text="${customer.firstName}">first name</a></td>
            <td th:text="${customer.lastName}">last name</td>
        </tr>

    </tbody>
</table>
</body>
</html>