<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8"/>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />
    <!--<script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"-->
    <!--th:href="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>-->
    <title>Products</title>


</head>
<body>
<h2>Product </h2>
<a href="/products/new">Add</a>
<table class="table">
    <thead>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Description</th>
        <th></th>
    </tr>
    </thead>
    <tbody th:remove="all-but-first">
    <tr th:each="product : ${products}">
        <td th:text="${productStat.count}">1</td>
        <td><a th:href="@{/products/show(id=${product.id})}"
               th:text="${product.title}">title</a></td>
        <td th:text="${product.description}">desc</td>
        <td>
            <form th:action="@{/products/delete}" method="post">
                <input type="hidden" th:value="${product.id}" name = "id"/>
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>

    </tbody>
</table>
</body>
</html>