<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>
<p th:inline="text">Title: [[${product.title}]]</p>
<p th:inline="text">Description: [[${product.description}]]</p>
<p><a th:href="${product.url}" target="_blank">Website</a> </p>
<p><a th:href="@{/products/edit(id=${product.id})}">Edit</a></p>
<h3>Comments</h3>
<form action="#" th:action="@{/products/comment}" method="post">
    <input type="hidden" th:value="*{product.id}" name = "id"/>
    <p><input type="text" name = "message"/></p>
    <p><input type="submit" value="Comment" /> <input type="reset" value="Reset" /></p>
</form>
<table class="table">
    <tbody th:remove="all-but-first">
    <tr th:each="comment : ${product.comments}">
        <td th:text="${comment.by}">user</td>
        <td th:text="${comment.message}">message</td>
    </tr>
    </tbody>
</table>
</body>
</html>